<html>

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: white url("img/6.png");
    background-size: 100% width:85px height:85px; ;
    background: no-repeat;
}
div.container{
  margin: 0 auto;
  position: relative;
}
 div.konten{
    background: #ffffff;
    width: 350px;
    margin: 90px auto 0;
    border-radius: 16px;
    min-height: 256px;
    overflow: hidden;
    min-height:100%;
}
div.backstreet{
    background:white url("6.png");
    width: 769px;
    margin: 20px auto 50px auto;
    border-radius: 4px;
    min-height: 256px;
    overflow: hidden;
    min-height:100%;
} 
div.kepala{
    background: #f85252;
    padding: 10px 22px;
    height: 60px;
}
 
div.kepala h2.judul{
    color: #fff;
    font-weight: normal;
    line-height: 40px;
    display: inline-block;
    float: left;
}
 
div.lock{
    background-image: url("lock.png");
    background-position: center;
    background-size: 38px;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 8px;
    float: left;
    margin-right: 10px;
}
 
div.artikel{
    padding:10px 22px 0;
    color: #808080;
}
 
div.artikel div.grup{
    margin: 16px 0;
}
 
div.artikel div.grup label,
div.artikel div.grup input{
    display: block;
}
 
div.artikel div.grup label{
    font-size: 13px;
    margin-bottom: 10px;
}
 
div.artikel div.grup input[type="text", type="email", type="password"]{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: #eeeeee;
    border:none;
    color: #808080;
}
 
div.artikel div.grup input[type="submit"]{
    background: #33cd77;
    padding: 4px 16px;
    margin: 0 auto;
    border: 5px solid #33cd77;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}
div.artikel div.grup input[type="submit"]:hover{
    background: #000307;

}
#footer{
    height:39px;
    line-height:50px;
    background: black;
    color:#fff;
    position:fixed;
    bottom:0px;
    width:100%;
    text-align: center; 
}
.time{
    margin-top: 12px;
}
.love{
    font-size: : 14px;
}
@font-face {
font-family: "Font Digital";
src: url('giddyupstd.otf');
}
.digital {
font-family: "Font Digital";
}    
}  